.card {
    background-color: var(--color-cards);
    border: solid 1px var(--color-outline);
    border-radius: var(--radius1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

main .card {
    margin-bottom: var(--spacing3);
}

@media only screen and (max-width: 768px) {
    main .card {
        margin-bottom: var(--spacing2);
    }
}
